# Core artifacts
/vendor/
/node_modules/
composer.lock
.env
.env.*
*.log
logs/
storage/
cache/
/tmp/
*.tar.gz
*.zip
*.bak
*.swp
.DS_Store
.idea/
.vscode/
# Backup & dump files
*.sql
*.sql.gz
backups/
# OS
Thumbs.db
export/
